@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@700;900&display=swap');


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body{
	font-family: 'Open Sans', sans-serif;
}

img{
	width:100%;
}

a{
	color:#072175;
}

p{
	line-height: 1.5em;
	margin-bottom:25px;
}

li{
	margin-bottom:15px;
}

.container{
	width:90vw;
	max-width:1200px;
	margin:0 auto;
}

section{
	margin-bottom:100px;
}


h1,h2,h3,h4{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	margin:0;
	padding:0;
	margin-bottom:35px;
}

h1{
	font-size:3.25rem;
	color:#072175;	
}

h2 {
    font-size: 2rem;
	color:#072175;    
	margin:40px 0;
}

p.lead{
	font-size:1.25rem;
}

#video-player{
	border-radius:10px;
	width:90%;
	max-width:500px;
	overflow: hidden;
	border:5px solid #072175;
	margin:0 auto;
	box-shadow: 10px 10px 5px 0px rgba(217,201,201,0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(217,201,201,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(217,201,201,0.75);	
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
}

#hero{
	background: #f9f9f9;
	position: relative;
}

#hero .container{
	display:flex;
	align-items: center;
	justify-content: center;	
	min-height:100vh;
	height:100%;
}

#hero .container > div{
	width:50%;
}

#hero p.lead{
	color:#4f6ba8;
	line-height: 1.75rem;	
	width:85%;
}

#scroll-wrapper{
	position: absolute;
	bottom:10%;
	width:100%;
}

#scroll{
	width:50px;
	margin:0 auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 4s ease-out infinite;
}

.chevron:first-child {
  animation: move 4s ease-out 2s infinite;
}

.chevron:nth-child(2) {
  animation: move 4s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #072175;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.scroll-text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
  color:#072175;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}



#main.container{
	display: flex;
	justify-content: space-between;
}

#main.container > div:first-of-type{
	width:65%;
}

#main.container > div:last-of-type{
	width:25%;
}


#sidebar-menu{
	background:#f3f7fe;
	border-radius:10px;
	padding:20px;
	color:#072175;		
}

#sidebar-menu ul{
	margin:0;
	padding:0;
}

#sidebar-menu li{
	list-style: none;	
	margin:10px 0;
}

#sidebar-menu li:before{ 
	content: "\203A"; 
	margin-right:10px;
} 

#sidebar-menu h3{
	margin-bottom:15px;
	font-size:1.15rem;
}

#sidebar-menu a{
	color:#072175;
	text-decoration: none;
}

#sidebar-menu a:hover{
	text-decoration: underline;
}


p.source{
	font-size:0.75rem;
	font-style: italic;
}

#devices{
	
}

.device{
	display: flex;
	justify-content: space-between;
	margin-bottom:30px;
}

.device .device-image{
	width:25%;
}

.device .device-copy{
	width:70%;
}

.device .device-copy .device-name{
	font-weight: bold;
	margin-bottom:15px;
}

#sidebar-menu{
	position:-webkit-sticky; position:sticky; top:25px;

}

#sidebar{
	
}

footer{
	background: #f9f9f9;
	padding:25px 0;
	font-size:0.75rem;
	text-align: center;
	margin-top:100px;
}

#devices{
	margin-top:50px;
}

i.fas.fa-circle{
    font-size: 8px;
    position: relative;
    top: -3px;
    margin-right: 5px;	
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	
	#scroll-wrapper{
		display:none;
	}

	#hero .container{
		flex-direction: column-reverse;
		padding:50px 0;
	}
	#hero .container > div{
		width:90%;
	}
	
	#hero h1{
		margin-top:50px;
		font-size:2.75rem;
	}
	
	#hero p.lead{
		width:100%;
	}
	
	#main.container{
		display:block;
	}
	
	#main.container > div{
		width:100% !important;
	}
	
	#sidebar{
		display:none;
	}

	#video-player{

	}
	
	section{
		margin-bottom:50px;
	}


}

